body {
    font-size: .875rem;
}

.main {
    padding-top: 50px; /* Space for fixed navbar */
}

i {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

@media (min-width: 768px) {
    .main {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  