<template>
  <div>
    <h3 class="card-title">Access Denied to {{title}}</h3>
    <p class="card-text">{{permission.label}}</p>
    <p v-if="requestSent">Request for access has been submitted to the site administrator.</p>
    <button v-else @click="requestAccess" type="button" class="btn btn-primary">Request Access</button>
  </div>
</template>

<script>
export default {
  props: ["user", "permission"],
  data() {
    return {
      requestSent: false
    };
  },
  computed: {
    title: function() {
      return _.replace(this.permission.name, "_", " ");
    }
  },
  methods: {
    requestAccess() {
      axios.get("/api/requestAccess", {
        params: {
          user: this.user,
          permissionName: this.permission.name
        }
      });
      this.requestSent = true;
    }
  }
};
</script>
