<template>
  <div>
    <button class="btn btn-primary" @click="showModal" title="Select Components">Components</button>

    <modal name="component-list" height="auto" width="380">
      <div class="modal-header">
        <h5 class="modal-title">
          <h3>Components</h3>
        </h5>
        <button
          type="button"
          @click="this.hideModal"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless">
          <tbody>
            <tr
              v-for="(component, n) in components"
              :key="component.id"
              @click.prevent="toggleComponent(n)"
            >
              <td class="text-right">
                <a href="#" :title="component.description">
                  <i class="material-icons">
                    <span v-if="component.visible">check_box</span>
                    <span v-else>check_box_outline_blank</span>
                  </i>
                </a>
              </td>
              <td class="text-left">{{component.title}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" @click="this.hideModal">Close</button>
      </div>
    </modal>
  </div>
</template>

<script>
export default {
  props: ["components"],
  data() {
    return {
      storedComponents: this.components
    };
  },
  mounted() {
    this.loadCheckboxes();
  },
  methods: {
    hideModal() {
      this.$modal.hide("component-list");
    },
    showModal() {
      this.loadCheckboxes();
      this.$modal.show("component-list");
    },
    loadCheckboxes() {
      this.storedComponents.forEach(component => {
        component.visible = this.componentState(component);
      });
    },
    toggleComponent(index) {
      let newState = !this.componentState(this.components[index]);
      localStorage.setItem(this.components[index].tag, newState);
      this.storedComponents[index].visible = newState;
      Event.$emit(this.components[index].tag);
    },
    componentState(component) {
      return localStorage.getItem(component.tag) !== "false";
    }
  }
};
</script>