<template>
  <div class="d-flex flex-column align-items-center" style="min-width: 65px;">
    <i
      @click="showModal"
      class="material-icons cursor-pointer"
      :class="iconColor"
      data-toggle="tooltip"
      data-placement="top"
      :title="label"
    >{{icon}}</i>
    <small class="text-muted">{{label}}</small>

    <modal :name="modalName" height="auto" width="380">
      <div class="modal-header">
        <h5 class="modal-title">
          <h3>{{label}}: {{status}}</h3>
        </h5>
        <button
          type="button"
          @click="this.hideModal"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{message}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" @click="this.hideModal">Close</button>
      </div>
    </modal>
  </div>
</template>

<script>
export default {
  props: ["id", "status", "statusClass", "label", "message"],
  computed: {
    modalName() {
      return `status-modal-${this.id}`;
    },
    icon() {
      if (this.status == "connected") {
        return "check_circle";
      }
      return "cancel";
    },
    iconColor() {
      if (this.status == "connected") {
        return "text-success";
      }
      return "text-danger";
    }
  },
  methods: {
    showModal() {
      this.$modal.show(`status-modal-${this.id}`);
    },
    hideModal() {
      this.$modal.hide(`status-modal-${this.id}`);
    }
  }
};
</script>

<style>
.cursor-pointer {
  cursor: pointer;
}
</style>