<template>
  <div>
    <!-- select components | status indicators -->
    <div class="row mb-3">
      <div class="col-sm-12">
        <div class="d-flex align-items-center justify-content-between">
          <lamps-component-selector :components="components" />
          <lamps-status-indicators />
        </div>
      </div>
    </div>

    <!-- components -->
    <div class="row">
      <component
        v-for="component in components"
        :key="component.id"
        :is="component.tag"
        :user-permissions="userPermissions"
        :user="user"
        :component="component"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: ["user", "userPermissions", "components"]
};
</script>