<template>
  <div class="d-flex">
    <lamps-status-indicator
      v-for="indicator in indicators"
      :key="indicator.id"
      :id="indicator.id"
      :status="indicator.status"
      :label="indicator.label"
      :message="indicator.message"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      indicators: []
    };
  },
  mounted() {
    this.getIndicators();

    //keep this method call last: never ending loop that recalls get indicators
    this.autoRefreshIndicators();
  },
  methods: {
    getIndicators() {
      var vm = this;
      axios
        .get("/api/statusIndicators")
        .then(response => (vm.indicators = response.data))
        .then(() => $('[data-toggle="tooltip"]').tooltip());
    },
    //never-ending loop: get indicators every 5 min
    autoRefreshIndicators() {
      setInterval(() => this.getIndicators(), 300000);
    }
  }
};
</script>

<style>
.indicator-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
</style>