<template>
  <transition name="slide-fade">
    <div :class="component.size" v-show="showComponent">
      <div class="card p-3 mb-3">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2 mb-3 border-bottom"
        >
          <h3>{{ component.title }}</h3>

          <div>
            <slot name="header" v-if="hasAccess"></slot>
          </div>

          <div>
            <button
              class="btn btn-link btn-sm text-danger"
              @click.prevent="toggleShowComponent"
              title="Close"
            >
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
        <div>
          <slot v-if="hasAccess"></slot>
          <access-denied v-else v-bind:user="user" :permission="component.permission"/>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: ["user", "userPermissions", "component"],
  data() {
    return {
      hasAccess: false,
      showComponent: false
    };
  },
  computed: {
    warning: function() {
      return false;
    },
    danger: function() {
      return true;
    }
  },
  mounted() {
    Event.$on(this.component.tag, () => {
      this.toggleShowComponent();
    });

    this.hasAccess = this.userPermissions.includes(
      this.component.permission.name
    );

    this.showComponent = localStorage.getItem(this.component.tag) !== "false";
  },
  methods: {
    toggleShowComponent() {
      this.showComponent = !this.showComponent;
      localStorage.setItem(this.component.tag, this.showComponent);
    }
  }
};
</script>

<style>
/* slide flade */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
</style>
