<template>
  <lamps-card :user-permissions="userPermissions" :user="user" :component="component">
    <small class="text-muted">Data from {{lastestRunTime}}</small>

    <table class="table table-sm table-striped table-borderless">
      <thead>
        <tr>
          <th class="col"></th>
          <th class="col">eCommerce</th>
          <th class="col">DOM</th>
          <th class="col">MOMS</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="orderCount in orderCounts" :key="orderCount.id">
          <td
            v-for="key in columns"
            :key="key.id"
            :class="{'labelCol':key=='label','col-align-right':key!='label'}"
          >
            <span class="badge-pill px-3 py-1">{{orderCount[key]}}</span>
          </td>
        </tr>
        <!--badge-warning font-weight-bold badge-danger font-weight-bold-->
      </tbody>
    </table>
  </lamps-card>
</template>

<script>
export default {
  props: ["user", "userPermissions", "component"],
  data() {
    return {
      warningThreshold: 100,
      dangerThreshold: 100,
      columns: ["label", "webdev", "dom", "ibm"],
      orderCounts: []
    };
  },
  computed: {
    lastestRunTime: function() {
      if (this.orderCounts.length == 0) {
        return Moment().fromNow();
      }
      let time = this.orderCounts[1].created_at;
      return Moment(time).fromNow();
    },
    warning: function() {
      return false;
    },
    danger: function() {
      return true;
    }
  },
  mounted() {
    this.getAlertThresholds();

    this.getOrderTotals();

    this.autoRefreshOrderTotals();
  },
  methods: {
    getAlertThresholds() {
      const vm = this;
      return new Promise(function(resolve, reject) {
        axios
          .get("/api/alerts", {
            params: {
              type: "orders"
            }
          })
          .then(response => {
            response.data.forEach(threshold => {
              if (threshold.level == "warning") {
                vm.warningThreshold = threshold.percent;
              }
              if (threshold.level == "danger") {
                vm.dangerThreshold = threshold.percent;
              }
            });
            resolve(response);
          });
      });
    },
    getOrderTotals() {
      const vm = this;
      axios.get("/api/orderTotals").then(function(response) {
        vm.orderCounts = response.data;
      });
    },
    autoRefreshOrderTotals() {
      var vm = this;
      setInterval(function() {
        vm.getOrderTotals();
      }, 60000);
    }
  }
};
</script>

<style>
.labelCol {
  text-align: left !important;
  font-weight: bold;
}
.col-align-right {
  text-align: right !important;
}
</style>
