<template>
  <lamps-card :user-permissions="userPermissions" :user="user" :component="component">
    <template v-slot:header>
      <div>
        <form class="form-inline">
          <div class="form-group mr-2">
            <button class="btn btn-link btn-sm" @click.prevent="previousDay" title="Previous Day">
              <i class="material-icons">navigate_before</i>
            </button>
            <Datepicker
              :format="displayDateFormat"
              :bootstrap-styling="true"
              v-model="selectedDate"
              @closed="reload"
            ></Datepicker>
            <button class="btn btn-link btn-sm" @click.prevent="nextDay" title="Next Day">
              <i class="material-icons">navigate_next</i>
            </button>
          </div>

          <div class="form-group">
            <select v-model="orderType" @change="storeAndReload" class="form-control">
              <option
                v-for="orderType in orderTypes"
                :value="orderType.data.ordertype"
                :key="orderType.data.id"
              >{{orderType.data.ordertype}}</option>
            </select>
          </div>
        </form>
      </div>
    </template>

    <canvas ref="canvas"></canvas>
  </lamps-card>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import Chart from "chart.js";

export default {
  props: ["user", "userPermissions", "component"],
  data() {
    return {
      colors: {
        blue: {
          line: "rgba(54, 162, 235, 1)",
          fill: "rgba(54, 162, 235, 0.1)"
        },
        red: {
          line: "rgba(255,99,132,1)",
          fill: "rgba(255, 99, 132, 0.1)"
        },
        yellow: {
          line: "rgba(255, 206, 86, 1)",
          fill: "rgba(255, 206, 86, 0.1)"
        },
        teal: {
          line: "rgba(75, 192, 192, 1)",
          fill: "rgba(75, 192, 192, 0.1)"
        },
        purple: {
          line: "rgba(153, 102, 255, 1)",
          fill: "rgba(153, 102, 255, 0.1)"
        },
        orange: {
          line: "rgba(255, 159, 64, 1)",
          fill: "rgba(255, 159, 64, 0.1)"
        }
      },
      chartLables: [
        "12:00",
        "1:00",
        "2:00",
        "3:00",
        "4:00",
        "5:00",
        "6:00",
        "7:00",
        "8:00",
        "9:00",
        "10:00",
        "11:00",
        "12:00",
        "1:00",
        "2:00",
        "3:00",
        "4:00",
        "5:00",
        "6:00",
        "7:00",
        "8:00",
        "9:00",
        "10:00",
        "11:00"
      ],
      chart: "",
      selectedDate: "",
      orderTypes: [],
      orderType: "",
      displayDateFormat: "MMM dd, yyyy"
    };
  },
  components: {
    Datepicker
  },
  mounted() {
    this.initialLoad();

    this.autoReload();
  },
  methods: {
    initialLoad() {
      this.selectedDate = new Date();

      const vm = this;

      axios
        .get("/api/saleOrderCounts/orderTypes")
        .then(function(response) {
          vm.orderTypes = Object.keys(response.data).map(key => {
            return {
              id: key,
              data: response.data[key]
            };
          });
          vm.orderType =
            localStorage.getItem("watchdog.orderCountChart.orderType") ||
            Object.values(vm.orderTypes[0])[1].ordertype;
        })
        .then(function() {
          vm.loadChart();
        });
    },

    autoReload() {
      var vm = this;
      setInterval(function() {
        vm.reload();
      }, 300000);
    },

    loadChart() {
      this.fetchData().then(response => this.render(response.data));
    },

    fetchData() {
      return axios.get("/api/saleOrderCounts", {
        params: {
          orderType: this.orderType,
          date: this.selectedDate
        }
      });
    },

    render(data) {
      const vm = this;
      const context = this.$refs.canvas.getContext("2d");

      this.chart = new Chart(context, {
        type: "line",
        data: {
          labels: vm.chartLables,
          datasets: [
            {
              label: data.weekPrior.label,
              backgroundColor: vm.colors.blue.fill,
              borderColor: vm.colors.blue.line,
              data: Object.keys(data.weekPrior.data).map(
                key => data.weekPrior.data[key]
              )
            },
            {
              label: data.selectedDate.label,
              backgroundColor: vm.colors.orange.fill,
              borderColor: vm.colors.orange.line,
              data: Object.keys(data.selectedDate.data).map(
                key => data.selectedDate.data[key]
              )
            }
          ]
        },
        options: {
          aspectRatio: 4,
          maintainAspectRatio: true,
          tooltips: {
            mode: "index"
          },
          title: {
            display: true,
            position: "bottom",
            text: data.chartTitle
          },
          legend: {
            reverse: true,
            labels: {
              boxWidth: 15
            }
          },
          scales: {
            xAxes: [
              {
                gridLines: {
                  display: false
                }
              }
            ]
          }
        }
      });
    },

    storeAndReload() {
      localStorage.setItem(
        "watchdog.orderCountChart.orderType",
        this.orderType
      );
      this.reload();
    },

    previousDay() {
      this.selectedDate = new Date(
        this.selectedDate.setDate(this.selectedDate.getDate() - 1)
      );
      this.reload();
    },

    nextDay() {
      this.selectedDate = new Date(
        this.selectedDate.setDate(this.selectedDate.getDate() + 1)
      );
      this.reload();
    },

    reload() {
      this.chart.destroy();
      this.loadChart();
    }
  }
};
</script>