<template>
  <lamps-card :user-permissions="userPermissions" :user="user" :component="component">
    <small class="text-muted">Data from {{lastestRunTime}}</small>
    <div>
      <table class="table table-sm table-striped table-borderless">
        <thead>
          <tr>
            <th scope="col">
              <h3>Name</h3>
            </th>
            <th scope="col">
              <h3>Depth</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="queueDepth in queueDepths" :key="queueDepth.id">
            <td v-for="key in columns" :key="key.id">{{queueDepth[key]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </lamps-card>
</template>

<script>
//import moment from "moment";
export default {
  props: ["user", "userPermissions", "component"],
  data() {
    return {
      columns: ["name", "depth"],
      queueDepths: []
    };
  },
  computed: {
    lastestRunTime: function() {
      if (this.queueDepths.length == 0) {
        return Moment().fromNow();
      }
      let time = this.queueDepths[0].created_at;
      return Moment(time).fromNow();
    }
  },
  mounted() {
    this.getQueueDepths();

    this.autoRefreshQueueDepths();
  },
  methods: {
    getQueueDepths() {
      var vm = this;
      axios.get("/api/posQueueDepths").then(response => {
        vm.queueDepths = response.data;
      });
    },
    autoRefreshQueueDepths() {
      var vm = this;
      setInterval(function() {
        vm.getQueueDepths();
      }, 60000);
    }
  }
};
</script>

<style>
.table td,
th {
  text-align: center;
}
</style>
