body {
    font-size: .875rem;
}

.main {
    padding-top: 50px; /* Space for fixed navbar */
}

i {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

@media (min-width: 768px) {
    .main {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }

.navbar .form-control {
padding: .75rem 1rem;
border-width: 0;
border-radius: 0;
}